{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

{% if author.avatar contains 'http' %}
	<img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% else %}
	<img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% endif %}

  <h3 itemprop="name">{{ author.name }}</h3>
  <p>{{ author.bio }}</p>
  <h3 itemprop="connect">Connect</h3>
  {% if author.twitter %}<a href="http://twitter.com/{{ author.twitter }}" class="author-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> @pscookiemonster</a>{% endif %}
  {% if author.linkedin %}<a href="http://linkedin.com/in/{{ author.linkedin }}" class="author-social" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>{% endif %}
  {% if author.github %}<a href="http://github.com/{{ author.github }}" class="author-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
  {% if author.stackoverflow %}<a href="http://stackoverflow.com/users/{{ author.stackoverflow }}" class="author-social" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i> Stackoverflow</a>{% endif %}
  {% if author.technet %}<a href="{{ author.technet }}" class="author-social" target="_blank"><i class="fa fa-fw fa-windows"></i> TechNet</a>{% endif %}
  {% if author.rss %}<a href="{{ site.url }}/{{ author.rss }}" class="author-social" target="_blank"><i class="fa fa-fw fa-rss"></i>RSS Feed</a>{% endif %}
  {% if author.wordpress %}<a href="{{ author.wordpress }}" class="author-social" target="_blank"><i class="fa fa-fw fa-wordpress"></i>My old blog</a>{% endif %}
  <br />
  <h3 itemprop="GitHub">My GitHub Repos</h3>
  {% for repo in author.githubrepos %}
    <a href="https://github.com/RamblingCookieMonster/{{ repo }}" class="author-social" target="_blank"><i class="fa fa-fw fa-github"></i>{{ repo }}</a>
  {% endfor %}
</div>
